.more-screen .icon-row__icon{
margin-top:35px;
}

.more-screen .icon-row__icon i,
.more-screen .icon-row__icon span{
  transition:color .3s ease-out;
  -webkit-transition:color .3s ease-out;
  -moz-transition:color .3s ease-out;
  -ms-transition:color .3s ease-out;
  -o-transition:color .3s ease-out;
}

@keyframes rotateIco{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: rotateY(360deg) ;
    -webkit-transform: rotateY(360deg) ;
    -moz-transform: rotateY(360deg) ;
    -ms-transform: rotateY(360deg) ;
    -o-transform: rotateY(360deg) ;
}
}

.more-screen .icon-row__icon:hover i,
.more-screen .icon-row__icon:hover  span{
  color:var(--common-grey);
  animation: rotateIco .4s ease-out forwards;
  -webkit-animation: rotateIco .4s ease-out forwards;
}

.more-suggestions{
  margin-top:50px;
  padding-top:40px;
  border-top:var(--main-border);
}
.more-suggestions__title{
  margin-bottom:30px;
}
.more-suggestions__icons{
  display: flex;
}
.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image{
  width:60px;
  height:60px;
  background-color:var(--yellow);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}
.more-suggestions__icon-image:hover{
  background-color:#333;
}

.more-suggestions__icon-image i{
  font-size:32px;
  color:#fff;
}