.badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: tomato;
  color: #fff;
  font-weight: 600;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge--new{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}